.mainBody {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 0 10px;
  margin: 100px 0;
}

.loginBox {
  background: #fff;
  width: 80%;
  border-radius: 40px;
  margin: 0 auto;
  color: white;
  padding-top: 32px;
  padding-bottom: 48px;
  font-weight: 400;
  max-width: 675px;
}

.loginHeading {
  font-size: 2.5em;
  color: #ff0000;
  letter-spacing: 0.025em;
  font-weight: 700;
  text-align: center;

  padding-bottom: 0.5rem;
}

.loginSection {
  width: 75%;
  margin: auto;
  color: rgba(0, 0, 0, 0.9);
}

.inputSection {
  margin-top: 1.2rem;
}
input {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  width: 100%;
  height: 3.5rem;
  border: 1px solid #ccc;
  background: none;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.9);
}

.passwordInput {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

.showPW {
  position: absolute;
  margin-right: 20px;
  height: 40%;
  margin-top: 5px;
  cursor: pointer;
}
.loginButtonSection {
  text-align: center;
  margin-top: 1.25rem;
  width: 100%;
}
.loginButton {
  text-align: center;
  margin-top: 1.25rem;
  color: white;
  padding-top: 1rem;
  font-size: 16px;
  padding-bottom: 1rem;
  background-color: #07a31f;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  font-weight: 400;
  width: 35vw;
  min-width: max-content;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 270px;
  margin: auto;
}

.bottomSection {
  margin: auto;
  justify-self: center;
  max-width: 350px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 15px;
}

.footer {
  background-size: cover;
  background-position: 50% 50%;
  font-size: 18px;
  width: 100%;
  position: relative;
  margin-top: auto;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 20;
}

.footerMain {
  margin-top: auto;
  position: relative;
  width: 100%;
}
.footerTop {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 24px;
  margin: auto;
  border-bottom: 1px solid white;
}

.fakturaText {
  font-size: 34px;
  font-weight: 400;
  color: white;
}

.footerMenu {
  display: flex;
  color: white;
  justify-content: center;
}

.footerMenu > a {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 15px;
}

.copyright {
  text-align: center;
  padding: 20px 0 24px;
}

.copyrightText {
  color: white;
  font-weight: 200;
}

.errorLabel {
  color: red;
  font-size: 16px;
  line-height: 20px;
  margin-top: 4px;
  font-weight: 400;
}
@media (max-width: 674px) {
  .mainBody {
    margin-bottom: 300px;
  }
  .loginBox {
    width: 100%;
  }
  .footerTop {
    flex-direction: column;
  }
  .fakturaText {
    font-size: 30px;
  }
  .copyrightText {
    font-size: 15px;
  }
}

@media screen and (max-height: 674px) and (orientation: landscape) {
  .mainBody {
    margin-top: 40px;
  }
}
