.termsSection {
  position: relative;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.termsTopText {
  margin: 20px 0 48px 0;
  text-align: center;
  color: rgb(255, 255, 255);
}

.termsHeading {
  font-size: 1.5em;
}

.goBackButton {
  font-size: 18px;
  margin-top: 24px;
  border-radius: 54px;
  color: white;
  font-weight: 500;
  padding: 1rem 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: rgb(8, 158, 30);
  cursor: pointer;
  width: 35vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 40px;
  padding-right: 40px;
  min-width: max-content;
  max-width: 270px;
  border: none;
}

.backTerms {
  background: #fff;
  max-width: 750px;
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}

@media (max-width: 899px) {
  .backTerms {
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
    padding: 24px;
  }

  .termsTopText {
    margin: 20px 0 28px 0;
  }

  .goBackButton {
    margin-top: 16px;
  }
}
