.main-page {
  min-width: 100dvh;
  min-height: 100dvh;
}

.background-container {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  z-index: -100;
}

.background-container > img {
  width: 100%;
  height: 100%;
}
