.main-page {
  min-height: 100dvh;
  height: 100dvh;
  padding-bottom: env(safe-area-inset-bottom);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.background-container {
  position: fixed;
  width: 100%;
  height: 100dvh;
  z-index: -100;
  inset: 0;
  overflow: hidden;
}

.background-container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -10;
  backface-visibility: hidden;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

button {
  border: none;
}
