.main-page {
  height: 100%;
  background-image: url('https://storage.123fakturera.se/public/wallpapers/sverige43.jpg');
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

button {
  border: none;
}

/* @media (max-width: 599px) {
  .main-page {
    height: 2800px;
  }
}
@media (max-width: 499px) {
  .main-page {
    height: 3500px;
  }
}
@media (max-width: 399px) {
  .main-page {
    height: 4200px;
  }
}
@media (max-width: 329px) {
  .main-page {
    height: 4700px;
  }
}
@media (max-width: 299px) {
  .main-page {
    height: 5500px;
  }
}
@media (max-width: 229px) {
  .main-page {
    height: 10000px;
  }
} */
