.main-page {
  min-width: 100dvh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.background-container {
  position: fixed;
  width: 100%;
  height: 100dvh;
  z-index: -100;
}

.background-container > img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -10;
  transform: translateZ(0px);
  backface-visibility: hidden;
  max-width: 100%;
  height: auto;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

button {
  border: none;
}
